.post{
    --post-line-color: #ccc;    
    border: 3px solid rgba(246, 65, 10, 0.941);
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(1, 2, 24, 0.8);
    color: #d8f65e;
    position: relative;
    border-radius: 4px;
    padding:5px;
}

.btnCommments{
    border-radius: 2px solid;
    color: #878A8C;
    opacity: 1;
}

.btnCommments:hover{
    opacity: 0.65;
    cursor: pointer;
}

.post-title{
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}

.posturl, .postname{    
    color: rgb(247, 100, 112);
}

.hashtag-text{
    font-weight: bold;
}

.post-text{
    margin-top: 10px;
}

