<div class="sidebar">
    <img src="https://www.teahub.io/photos/full/102-1026359_abstract-wallpapers-4k-ultra-hd.jpg" height="75" width="298">
    <div style="text-align: center; font-size: 1em">Welcome to Meet@NSU home page. Come here to
        check in with your favorite NSUer's.</div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateHashtag" (click)="goToCreateHashtag()">Create Hashtag</button>
    </div>
</div>